<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="drum-machine">
            <div id='drum-tab'>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
                <button class="drum-pad">Q</button>
            </div>
            <div id='actions'>
                <div class="button-section">
                    <label>Power</label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                <div id="display">
                    <p>Hello</p>
                </div>
                <div class="button-section">
                    <label>Bank</label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </main>
</body>
</html>